/* Container for the entire component */
.employee-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    padding: 20px;
    background-color:rgb(250, 208, 157);
    
    
}

/* Title styling */
.employee-title {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(23, 21, 21);
    font-style: italic;
    background-color:rgb(241, 180, 106);
}

/* Button container styling */
.button-container {
    margin-bottom: 20px;
}

/* Flexbox styling for the table */
.table-container {
    display: flex;
    justify-content: center; /* Center the table horizontally */
    width: 100%;
    font-style: oblique;
    
}

/* Modal styling  */
.modal-header,
.modal-body,
.modal-footer {
    padding: 10px;
}

/* Input field styling */
.input-field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Button styling */
.button {
    margin: 5px;
    width: 70px;
    
}

/* Styling for Edit and Delete buttons within the table */
.table-buttons button {
    margin: 5px;
    width:70px;
}

th {
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}


tr.hover{
    background-color: coral;
}

div.sticky{
    position:sticky;
    background-color: bisque;
    top:0;
    width: 100%;
}